.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;

  padding-left: 55px;
  padding-right: 120px;

  background-color: $yellow;

  @include onMobile {
    padding-left: 20px;
    padding-right: 20px;
  }

  @include onTablet {
    padding-left: 55px;
    padding-right: 55px;
  }

  @include onDesktop {
    padding-left: 55px;
    padding-right: 120px;
  }

  &__logo {
    height: 23px;
    margin-right: 70px;

    @include onMobile {
      margin: 0;
    }
    @include onDesktop {
      margin-right: 70px;
    }
  }

  &__years {
    color: $brown;
    font-size: 12px;
    font-weight: 800;
  }
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;

  @include onMobile {
    gap: 5px;
  }

  @include onTablet {
    gap: 10px;
  }

  @include onDesktop {
    gap: 20px;
  }

  &__button {
    height: 16px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.3);
    }
  }
}
