.page {
  scroll-behavior: smooth;
  width: 100%;
}

.featured-spots {
  display: flex;
  justify-content: center;
}

.featured-spots-container {
  display: flex;
  flex-direction: row;
  padding-top: 110px;
  width: 100%;
  max-width: 1200px;

  @include onMobile {
    flex-direction: column;
  }

  @include onTablet {
    flex-direction: column;
  }

  @include onDesktop {
    flex-direction: row;
  }
}

.featured-spots-description {
  display: flex;
  flex-direction: column;
  width: 300px;

  padding-right: 85px;
  padding-left: 20px;

  @include onMobile {
    width: 100%;
    padding: 0;
  }

  @include onTablet {
    width: 100%;
  }

  @include onDesktop {
    width: 300px;
    padding-right: 85px;
    padding-left: 20px;
  }

  &__title {
    margin-top: 3px;
    text-align: right;

    font-size: 23px;
    line-height: 1.3;

    @include onMobile {
      text-align: center;
      font-size: 35px;
    }

    @include onTablet {
      text-align: center;
      font-size: 35px;
    }

    @include onDesktop {
      text-align: right;
      font-size: 23px;
    }
  }

  &__description {
    margin-top: 15px;
    padding-left: 20px;
    text-align: right;

    font-size: 11px;
    line-height: 2;

    @include onMobile {
      text-align: center;
    }

    @include onTablet {
      text-align: center;
    }

    @include onDesktop {
      text-align: right;
    }
  }

  &__view-all {
    display: block;
    margin-top: 110px;
    text-align: right;

    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;

    @include onMobile {
      display: none;
    }

    @include onTablet {
      display: none;
    }

    @include onDesktop {
      display: block;
    }

    &::before {
      display: inline-block;
      margin-right: 12px;
      content: "";
      width: 86px;
      border-bottom: 2px solid $white;
    }
  }
}

.editors-pick-container {
  margin-top: 160px;
}

.editors-pick-description {
  &__description {
    margin-top: 25px;
  }
}

.galery {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-direction: row;

  padding-top: 82px;

  @include onMobile {
    padding-top: 30px;
    flex-direction: column;
  }

  @include onTablet {
    padding-top: 40px;
    flex-direction: row;
  }

  @include onDesktop {
    padding-top: 82px;
    flex-direction: row;
  }
}

.card {
  padding: 0 28px;
  width: 100%;
  min-width: 100px;
  text-align: left;

  @include onMobile {
    text-align: center;
  }

  @include onTablet {
    text-align: left;
  }

  @include onDesktop {
    text-align: left;
  }

  &__photo {
    display: block;
    width: 100%;
    max-width: 260px;
    height: auto;
    margin: 0 auto;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.03);
      border-radius: 8px;
    }
  }

  &__title {
    margin-top: 34px;
    padding: 0 3px;

    font-size: 22px;
    font-weight: 700;
  }

  &__location {
    padding: 0 3px;

    font-size: 16px;
    font-weight: 800;
    color: $brown-light;
  }

  &__description {
    margin-top: 20px;
    padding: 0 3px;

    font-size: 11px;
    line-height: 2;
  }

  &__link {
    display: inline-block;
    margin-top: 30px;
    padding: 0 3px;

    font-size: 11px;
    line-height: 2;
    font-weight: 600;
    color: $yellow;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.2);
    }

    @include onMobile {
      margin-bottom: 30px;
    }

    @include onTablet {
      margin-bottom: 0;
    }

    @include onDesktop {
      margin-bottom: 0;
    }
  }
}

.line-separator {
  padding-left: 30px;

  @include onTablet {
    display: none;
  }

  @include onMobile {
    display: none;
  }

  @include onDesktop {
    display: inline-block;
  }

  &__text {
    display: inline-block;
    margin-top: 45px;
    margin-right: 25px;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 35px;

    &::after {
      display: inline-block;
      margin-left: 25px;
      margin-bottom: 3px;

      content: "";
      width: 650px;
      border-bottom: 2px solid $brown-light;
    }
  }

  &__counter {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 35px;
  }

  &__separator {
    display: inline-block;
    margin-left: 25px;
    margin-bottom: 3px;
    content: "";
    width: 30px;
    border-bottom: 2px solid $brown-light;
  }
}

.above-sea {
  width: 100%;

  &__container {
    margin-top: 133px;

    @include onMobile {
      margin-top: 50px;
    }

    @include onTablet {
      margin-top: 80px;
    }

    @include onDesktop {
      margin-top: 133px;
    }
  }
}

.above-sea-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;

  @include onMobile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @include onTablet {
    flex-direction: row;
    justify-content: center;
  }

  @include onDesktop {
    flex-direction: row;
    justify-content: flex-start;
  }

  &__photo {
    display: block;
    max-width: 575px;
    width: 100%;
    height: auto;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.03);
      border-radius: 8px;
    }

    @include onMobile {
      max-width: 300px;
      width: 100%;
      height: auto;
    }

    @include onTablet {
      max-width: 300px;
      max-height: 300px;
      width: 100%;
      height: auto;
    }

    @include onDesktop {
      max-width: 575px;
      max-height: 575px;
      width: 100%;
      height: auto;
    }
  }
}

.sea-content {
  position: relative;
  padding-left: 110px;

  @include onMobile {
    padding: 0;
    width: 100%;
  }

  @include onTablet {
    padding-left: 40px;
  }

  @include onDesktop {
    padding-left: 110px;
  }

  &__title {
    margin-bottom: 22px;

    font-size: 52px;
    line-height: 1;
    font-weight: 700;

    text-align: left;

    @include onMobile {
      margin-top: 50px;
      text-align: center;
      font-size: 40px;
    }

    @include onTablet {
      margin-top: 0;
      text-align: center;
      font-size: 40px;
    }

    @include onDesktop {
      margin-top: 0;
      text-align: left;
      font-size: 52px;
    }
  }

  &__quote {
    position: relative;
    margin-left: 20px;
    margin-bottom: 50px;
    display: inline-block;

    font-family: "Playfair Displa"y, serif;

    font-size: 15px;
    font-style: italic;
    line-height: 2;
    font-weight: 500;

    &::before {
      position: absolute;
      left: -15px;
      content: "\0022";

      @include onMobile {
        left: -10px;
      }

      @include onDesktop {
        left: -15px;
      }
    }

    &::after {
      position: absolute;
      right: -15px;
      content: "\0022";

      @include onMobile {
        padding: 0 40px;
      }
    }

    @include onMobile {
      right: -5px;
    }

    @include onDesktop {
      right: -15px;
    }
  }

  &__text {
    width: 310px;
    margin-bottom: 52px;

    font-size: 12px;

    @include onMobile {
      width: 100%;
      padding: 0 30px;
    }

    @include onTablet {
      width: 100%;
      padding: 0 30px;
    }

    @include onDesktop {
      width: 310px;
    }
  }
}

.mountains-container {
  position: relative;
  z-index: 1;
  padding-top: 180px;
  padding-left: 258px;
  padding-right: 115px;

  background-image: url(../images/mountains-bg.jpg);

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  @include onMobile {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  @include onTablet {
    padding-top: 100px;
    padding-left: 50px;
    padding-right: 30px;
  }

  @include onDesktop {
    padding-top: 180px;
    padding-left: 258px;
    padding-right: 115px;
  }

  &__title {
    font-size: 50px;
    margin-bottom: 27px;

    @include onMobile {
      text-align: center;
      font-size: 40px;
    }
  }

  &__description {
    margin-bottom: 50px;

    width: 370px;
    font-size: 12px;
    line-height: 1.7;
    font-weight: 600;

    @include onMobile {
      width: 100%;
      margin-bottom: 20px;
    }

    @include onTablet {
      width: 100%;
      margin-bottom: 20px;
    }

    @include onDesktop {
      width: 370px;
      margin-bottom: 50px;
    }
  }
}

.article {
  &:after {
    display: block;
    margin-top: 60px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $grey;
  }
}

.article-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  padding-top: 50px;

  @include onMobile {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  @include onTablet {
    flex-direction: row;
  }

  @include onDesktop {
    flex-direction: row;
  }

  &__picture {
    width: 260px;
    height: 260px;

    transition: all 0.3s;

    &:hover {
      transform: scale(1.03);
      border-radius: 8px;
    }
  }
}

.article-content {
  display: flex;
  flex-direction: column;
  width: 500px;

  @include onMobile {
    width: 100%;
  }

  @include onTablet {
    width: 100%;
  }

  @include onDesktop {
    width: 500px;
  }

  &__title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 3px;

    @include onMobile {
      text-align: center;
      margin-top: 20px;
    }
  }

  &__location {
    font-size: 17px;
    font-weight: 800;
    color: $grey;
    margin-bottom: 20px;
  }

  &__description {
    font-size: 11px;
    line-height: 1.8;
    margin-bottom: 35px;
    padding-right: 15px;
  }
}
