@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin onDesktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 744px) {
    @content;
  }
}

@mixin backgroundPosition {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin scroll-button ($size) {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $size;
  width: $size;

  border: 2px solid $brown;
  border-radius: 20px;

  background-color: $white;
  cursor: pointer;
}
