@mixin onMobile {
  @media (max-width: 639px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 640px) {
    @content;
  }
}

@mixin onDesktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

@mixin backgroundPosition {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin scroll-button ($size) {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $size;
  width: $size;

  border: 2px solid $brown;
  border-radius: 20px;

  background-color: $white;
  cursor: pointer;

}
