$white: #fff;
$yellow: #fee251;
$brown: #28272a;
$brown-transparent: #28272a60;
$brown-light: #5a5a5a;
$grey: #737f82;

$logo-block-height: 87px;
$header-height: 858px;

$menu-height: $header-height - $logo-block-height;
$menu-width: 260px;
